.table_size{
    height: 600px;
    width: 600px;
}
td{
    height: 60px;
    width: 60px;
    background-color: #e2ae8e;

}
.container
{
    position:center;
}
.pion{
    height: 50px;
    width: 50px;
}

.box1{
    background-color: #ce672b;
}

table{
    border-color: rgb(139, 84, 21);
    border-width: 10px;
}